@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

html {
  scroll-behavior: smooth;
}

#body {
  scroll-margin-top: 80px;
}

#profile {
  scroll-margin-top: 80px;
}